.movie-card{
    width: 220px;
    height: 330px;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
}
.overlay{
    width:100%;
    height: 100%;
    background: rgba(43,41,41,0.9);
    opacity: 0;  /*투명도*/
    transition: all 1s;
    color:white;
    font-weight: bold;
    overflow-wrap: break-word;

    position: absolute;
    top: 0;
    left: 0;
}
.movie-card:hover .overlay{
    opacity: 1;
}
.movie-card:hover{
    transform: scale(1.3) translateZ(20px); /*카드가 커지면서 앞으로 나옴*/
    z-index: 2;
}